/*index.html styles */
#title {
    background-color: lightskyblue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.body-main {
    background-color: #4DF8FF;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.recipe-links {
    background-color: lightpink;
    color: white;
}

/*end of index.html styles */

/*applecrumble styles */
#instructions .ingredients {
    background-color: lightyellow;
}

#instructions .steps {
    background-color: lightcoral;
}

/*end of applecrumb styles */

/*pot roast styles */
/*end of pot roast styles */

/*italianstew styles */
/*end of italianstew styles */