/*index.html styles */
#title{
    background-color: #E990FF;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.body-main{
    background-color: #4DF8FF;
    font-family:'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.recipe-links
{
    background-color: lightpink;
    color: red;
}
/*end of index.html styles */

/*applecrumble styles */
/*end of applecrumb styles */

/*pot roast styles */
/*end of pot roast styles */

/*italianstew styles */
/*end of italianstew styles */