/*index.html styles */
#title {
    background-color: lightskyblue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.body-main {
    background-color: #4DF8FF;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.recipe-links {
    background-color: lightpink;
    color: white;
}

/*end of index.html styles */

/*applecrumble styles */
#home {
    font-size: 25px;
}

.intro {
    text-align: center;
    font-size: 40px;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#description {
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

#instructions {
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}


#instructions .ingredients {
    background-color: lightgoldenrodyellow;
}

#instructions .steps {
    background-color: lightsteelblue;
    color:black;
}

/*end of applecrumb styles */

/*pot roast styles */
/*end of pot roast styles */

/*italianstew styles */
/*end of italianstew styles */